numpy
Cython
scipy
h5py
neo4j
networkx
biom-format
psutil
pubsub
pbr
pandas
requests
# If you want to run manta and anuran
# Follow instructions at github.com/ramellose/manta
# and github.com/ramellose/anuran
# If you want to run the GUI directly
# wxPython