numpy
scipy
h5py
neo4j
networkx
biom-format
psutil
pubsub
pbr
pandas
requests
git+git://github.com/ramellose/manta.git
git+git://github.com/ramellose/anuran.git
# anuran
# If you want to run the GUI directly
# wxPython